.body {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 0 50px 0;
    min-height: 293px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    text-decoration: underline;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
}

.header__logo-image {
    width: 148px;
}

.address {
    width: 240px;
    height: 98px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 24.3px;
}

.header__address{
    justify-self: end;
}

.cover {
    position: relative;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover__title {
    position: relative;
    z-index: 1;
    font-weight: 700;
    font-style: Bold;
    font-size: 100px;
    line-height: 115%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 165px 50px 106px;
}
.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    margin: 20px 0 0 30px;
    text-align: center;
}

.aligned-text_right {
    margin: 20px 0 0 613px;
    text-align: right;
}

.cover__description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 50px;
    margin-top: 5px;
}

.cover__description-text {
    font-family: Raleway;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    word-spacing: 19px;
    margin: 0;
}

.bet-button {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid white;
    padding: 12px 32px 12px 32px; 
}

.cover__description {
    position: relative;
    z-index: 1;
}

.lots {
    margin: 195px 24px 120px;
}

.lots__heading {
    font-family: Raleway;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 40px;

}

.lots__card-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.lots__card-list-item {
    min-height: 596px;
    width: 334px;
}

.card-link {
    height: 100%;
    display: block;
    text-decoration: none;
}

.card {
    position: relative;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title,
.card__text {
    position: relative;
    z-index: 1;
    color: white;
}

.card__title {
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 120%;
}

.card__text {
    font-family: Raleway;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 120%;
}

.lots__look-more-link {
    display: block; 
    margin-top: 35px;
    text-decoration: underline;
    margin-left: 40px;
    font-size: 20px;
}

.about__column {
    display: grid;
    grid-template-columns: 334px auto;
}

.about__logo {
    width: 240px;         
    height: 240px;
    background-color: black;
    border-radius: 50%;  
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0 0 71px;
}

.about__logo img {
    width: 148px;
    height: auto;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    margin: 152px 0 0 50px;
}

.about__text {
    display: flex;
    flex-direction: column; 
    gap: 24px; 
    margin: 115px 30px 0 50px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
}

.footer {
    display: flex;
    flex-direction: row;
    margin-top:98px;
    margin-left: 50px;
    gap: 185px;
}

.footer__address{
    margin-top: 80px;
    margin-bottom: 82px;
}

.footer__menu-list {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    margin-top: 85px;
}

.footer__menu-list-item {
    list-style: none;
}

.footer__menu-link {
    text-decoration: underline;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 80px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}